server:
  port: 8090

spring:
  application:
    name: loans

  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''

  h2:
    console:
      enabled: true
      path: /h2

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true

  config:
    import:
      - "application_qa.yml"
      - "application_prod.yml"

build:
  version: "1.0.0"

loans:
  message: "Welcome to Microservice bank loans related to local APIs"
  contactDetails:
    name: "John Loans Doe - Local Developer"
    email: "johnloans@doe.com"
  onCallSupport:
    - (777) 777-7777
    - (888) 888-8888