server:
  port: 9000

spring:
  application:
    name: cards

  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''

  h2:
    console:
      enabled: true
      path: /h2

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true

  config:
    import:
      - "application_qa.yml"
      - "application_prod.yml"

  profiles:
    active:
      - "prod"

build:
  version: "3.0"

cards:
  message: "Welcome to Microservice bank cards related to local APIs"
  contactDetails:
    name: "John Cards Doe - Developer"
    email: "johncards@doe.com"
  onCallSupport:
    - (111) 111-1111
    - (222) 222-2222